<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.naruto.mobile.framework.service">

    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true">

        <activity android:name="com.naruto.mobile.framework.biz.ext.photo_demo.ui.PhotoSelectActivity"></activity>

    </application>

</manifest>
